@media (max-width:575px) {
    section.background-cover.bg-dark {
        display: none;
    }

    iframe {
        display: none;
    }
}

@media (max-width:767px) {
    .navbar-nav li {
    }

    li.nav-item {
        color: red;
    }
}


